/* Background color old news paper, justified text */
body {
  
  background: rgb(243, 223, 193);
  text-align: justify;
}
/* font family used for the whole page */
h1,
h2,
h3,
p {
  font-family: georgia, serif;
}


.subtitle{
  margin-top: -50px;
  color: rgb(143, 141, 141);
  font-size: 32px;
  padding: 0 0 8px 0;
  border-bottom: 1px solid #bbb;
  text-align: center;
}

.news_title {
  margin: 0;
  color: rgb(26, 28, 26);
  text-align: center;
  font-weight: normal;
  font-size: 71px;
  margin: 0 0 58px 0;
  border-bottom: 1px solid gray;
}
section{
  display: flex;
}
.column1{
   
    width: 544px;
    /* float: left; */
    flex-grow: 0;
    padding-right: 6px;
    border-right: 1px solid #BEB8B8;
    margin-right: 6px;
    position: relative;
/* It works and I don't know why (twice column3 class selector) */
    }
    .column2{
      
      width: 544px;
      /* float: left; */
      flex-grow: 1;
      padding-right: 6px;
      border-right: 1px solid #BEB8B8;
      margin-right: 6px;
      position: relative;
  /* It works and I don't know why (twice column3 class selector) */
      }
      .column3 {
        width: 544px;
        flex-grow: 2;
        padding-right: 6px;
        border-right: 1px solid #BEB8B8;
        margin-right: 6px;
        position: relative;
    /* It works and I don't know why (twice column3 class selector) */
        }

    .column3 {
        width: 544px;
        padding-right: 6px;
        border-right: 1px solid #BEB8B8;
        margin-right: 6px;
        position: relative;
        margin: 0 0 0 10px;
        width: 275px;
            
        
        }
    .img_text{
        float: right;
        margin: 10px;
    }

    .img_text_2{
        float: left;
        margin: 10px;
    }

    .thumbnail {
        height: 300px;
        width: 275px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        
    }
   
